<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"></link>
</head>
<body>
	<div class="container">
		<div th:if="${message}" class="row">
			<h2 th:text="${message}" />
		</div>

		<div class="row">
			<div class="col-md-4">
				<form method="POST" enctype="multipart/form-data" action="/">
					<table>
						<tr>
							<td>File to upload:</td>
							<td><input type="file" name="file" multiple="multiple"
								accept="audio/*|video/*|image/*|media_type" /></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" value="Upload" /></td>
						</tr>
					</table>
				</form>
			</div>
		</div>

		<div class="row">
			<ul>
				<li th:each="link : ${files}"><a th:href="${link.url}"
					th:text="${link.title}" /></li>
			</ul>
		</div>
	</div>
</body>
</html>